<div class="item" >
    <div routerLink="/details/{{data.Id}}">
        <img src="http://localhost:61930/Uploads/{{data.CommdityImage}}" alt="">
        <div class="body">
            <h4>{{data.CommdityName}}</h4>
            <p>{{data.CommdityDesc}}</p>
        </div>
    </div>
   
    <div class="px-3 mb-2 d-flex justify-content-between align-datas-center ">
        <button class="btn btn-success" *ngIf="!addButton" (click)="addButton = true" >Add To Cart</button>
        <div class="d-flex w-50" *ngIf="addButton">
            <input type="number" class="form-control" [(ngModel)]="amount">
            <button class="btn btn-danger" (click)="add();addButton = false">Add</button>
        </div>
        <span>{{data.CommdityCost}} ل.س</span>
    </div>
</div>